.navBar {
  height: 8vh;
  background: rgba(255, 255, 255, 0.7);
}

.homeMainContainer {
  height: 92vh;
  padding-top: 30px;
}

.heading {
  display: flex;
  margin-top: -2vh;
  justify-content: center;
}

.mainHeader {
  text-align: center;
  color: white;
  margin: 20px 0;
}

.imageContainer {
  text-align: center;
  width: 70%;
  display: block;
  margin: 0 auto;
}

.playerContainer {
  /* background-image: url(https://www.transparenttextures.com/patterns/climpek.png); */
  /* background-color: rgb(236, 164, 179); */
  text-align: center;
  width: 55%;
  display: block;
  margin: 0 auto;
  padding: 25px 0px;
  border: 15px solid darkred;
}

.playerContainer_title {
  margin: 0;
  color: #000000;
}

.playerContainer_confirmbtn {
  color: white;
  background: rgb(23, 128, 23);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 24px;
  margin: 0 auto;
  font-size: 18px;
  padding: 10px 0;
  width: 95px;
  display: inline-block;
  margin: 0 auto;
  margin-left: 2px;
  font-family: Oswald;
  font-weight: bolder;
  letter-spacing: 1.5px;
}

.playerContainer_subtitle {
  margin: 0;
  color: #000000;
  text-transform: uppercase;
}

.playerContainer_bidInput_label {
}

.playerContainer_bidInput {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  border-radius: 24px;
  border: 2px solid rgb(0, 0, 0);
  background: #082032;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 0;
  width: 200px;
}

.playerContainer_clubSelect {
  margin: 10px 0;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 0px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  width: 200px;
  text-indent: 5px;
  font-family: Oswald;
  font-size: 16px;
  background-color: #082032;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.playerContainer_currentPlayer {
  color: #334756;
  margin-top: -30px;
}

.playerContainer_currentPlayer_name {
  font-weight: bold;
  font-size: 40px;
}

.playerContainer_currentPlayer_image {
  position: relative;
}

.playerContainer_currentPlayer_photo {
  width: 25%;
  position: relative;
  z-index: 4;
}

.playerContainer_currentPlayer_club {
  width: 24%;
  position: absolute;
  left: 37%;
  right: 0;
  z-index: 2;
}

.playerContainer_currentPlayer_data {
  font-size: 20px;
}

.nextContainer {
  margin: 10px auto !important;
  width: 60%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
}

.nextContainer_item {
  width: 18%;
  float: left;
  position: relative;
}

.nextContainer_item_playerphoto {
  width: 100%;
  position: relative;
  z-index: 4;
}

.nextContainer_item_clubphoto {
  width: 100%;
  position: absolute;
  right: 0;
  z-index: 2;
}

.clubContainer_title {
  color: white;
  text-align: center;
  padding: 10px;
}

.clubContainer {
  width: 95%;
  display: block !important;
  margin: 0 auto !important;
  padding-bottom: 40px;
}

.clubListContainer {
}

.clubListContainer_item {
  float: left;
  border: 1px solid rgb(255, 255, 255);
  background: #1c0c5b;
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.clubListContainer_item_clubtile {
}

.clubListContainer_item_photo {
  width: 40px;
  height: 40px;
  margin: 20px;
}

.clubListContainer_item_data {
  margin-left: 15px;
  margin-right: 10px;
  color: #ffffff;
  font-size: 20px;
}

.clubListContainer_item_datadetail {
  margin: 0;
  line-height: 1.7;
}

.mainNavBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #f0a500;
}

.nav_icon {
  height: 4vh;
  padding-top: 2vh;
  margin-right: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 540px) {
  .mainNavBar {
    width: 100%;
  }

  .nav_icon {
    width: 20%;
    margin-right: 0;
  }

  .clubListContainer_item_photo {
    margin: 4px;
  }
}
